body {
	display: flex;
	align-items: center;
	background-color: var(--cor-light-gray);
}

.conteiner {
	/*background-image: 
		linear-gradient(to bottom, #F9F9F9 50%, #FFF0 50% 100%),
		linear-gradient(to left, #2ab2af 50%, #259F9B 50% 100%);	*/
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	padding: 2rem;
}

.conteiner_top {
	padding-bottom: 3rem;
}

.conteiner_top h1 {
	color: var(--cor-cyan);
	font-weight: 700;
}

.conteiner_top h2 {
	color: var(--cor-bright-yellow);
	font-weight: 700;
	margin-bottom: 1rem;
}

.conteiner_top p {
	color: var(--cor-grayish-blue);
	line-height: 1.5;
}