@media (max-width: 670px) {
	body {
		display: block;
		margin: 2rem 0;
	}
	.conteiner {
		background-image: 
			linear-gradient(to bottom, #F9F9F9 36%, #FFF0 36% 100%),
			linear-gradient(to bottom, #2ab2af 68%, #259F9B 68% 100%);	
		width: 75%;
	}
	.beneficios {
		display: flex;
		flex-flow: column;
	}

	.beneficios_preco {
		border-radius: none;
		margin-bottom: 2rem;
	}

	.beneficios_lista {
		border-radius: 0 0 10px 10px;
		margin-top: 2rem;
	}
}

@media (min-width: 670px) {

	body {
		display: flex;
		height: 100vh;
	}

	.conteiner {
	background-image: 
		linear-gradient(to bottom, #F9F9F9 45%, #FFF0 45% 100%),
		linear-gradient(to left, #2ab2af 50%, #259F9B 50% 100%);
	width: 580px;
	}

	.beneficios_preco {
	border-radius: 0 0 0 10px;
	}

	.beneficios_lista {
	border-radius: 0 0 10px 0;
	}
}